<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RDSSNLSMPUtilsClasses.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RDDSNLSMPUtilsClasses.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RDSSNLSMPUtilsClasses.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="RDDSNLSMPUtilsClasses.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  
        
    
    <userSettings>
        <RDSSNLSMPUtilsClasses.Properties.Settings>
            <setting name="SettingsFile" serializeAs="String">
                <value>c:\RDSS\Settings\Peritus\RDSSPaymentConfig.xml</value>
            </setting>
        </RDSSNLSMPUtilsClasses.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <RDSSNLSMPUtilsClasses.Properties.Settings>
            <setting name="RDDSNLSMPUtilsClasses_com_cyberridge_ws_Service"
                serializeAs="String">
                <value>https://ws.cyberridge.com/PeritusPortfolioWebService/Service.asmx</value>
            </setting>
            <setting name="RDDSNLSMPUtilsClasses_com_merchantpartners_trans1_TransactionSOAPBindingImplService"
                serializeAs="String">
                <value>https://trans.merchantpartners.com/Web/services/TransactionService</value>
            </setting>
        </RDSSNLSMPUtilsClasses.Properties.Settings>
    </applicationSettings>
</configuration>